@{
    ViewData["Title"] = "Home Page";
}
<style>
    .p1 {
        font-family: "Californian FB", Times, serif;
    }

</style>
<div class="text-center">
    <h1 class="p1">BoxThemis</h1>
    let's make this live!'
    <h1 class="display-4">

        <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
        <img src="./1481252942396.jpg" />
        <img src="./1481252942396.jpg" />
        <img src="../../wwwroot/assets/JT_Judge.PNG" />
        <img src="../../wwwroot/assets/1481252942396.jpg" />
    </h1>

</div>
