@model SuperHeroesNew.Models.SuperHero

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1><!--check link-->

<h4>SuperHero</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Round_1_B1" class="control-label"></label>
                <input asp-for="Round_1_B1" class="form-control" />
                <span asp-validation-for="Round_1_B1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_1_B2" class="control-label"></label>
                <input asp-for="Round_1_B2" class="form-control" />
                <span asp-validation-for="Round_1_B2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_2_B1" class="control-label"></label>
                <input asp-for="Round_2_B1" class="form-control" />
                <span asp-validation-for="Round_2_B1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_2_B2" class="control-label"></label>
                <input asp-for="Round_2_B2" class="form-control" />
                <span asp-validation-for="Round_2_B2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_3_B1" class="control-label"></label>
                <input asp-for="Round_3_B1" class="form-control" />
                <span asp-validation-for="Round_3_B1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_3_B2" class="control-label"></label>
                <input asp-for="Round_3_B2" class="form-control" />
                <span asp-validation-for="Round_3_B2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_4_B1" class="control-label"></label>
                <input asp-for="Round_4_B1" class="form-control" />
                <span asp-validation-for="Round_4_B1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_4_B2" class="control-label"></label>
                <input asp-for="Round_4_B2" class="form-control" />
                <span asp-validation-for="Round_4_B2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_5_B1" class="control-label"></label><!-- start here-->
                <input asp-for="Round_5_B1" class="form-control" />
                <span asp-validation-for="Round_5_B1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_5_B2" class="control-label"></label>
                <input asp-for="Round_5_B2" class="form-control" />
                <span asp-validation-for="Round_5_B2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_6_B1" class="control-label"></label>
                <input asp-for="Round_6_B1" class="form-control" />
                <span asp-validation-for="Round_6_B1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_6_B2" class="control-label"></label>
                <input asp-for="Round_6_B2" class="form-control" />
                <span asp-validation-for="Round_6_B2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_7_B1" class="control-label"></label>
                <input asp-for="Round_7_B1" class="form-control" />
                <span asp-validation-for="Round_7_B1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_7_B2" class="control-label"></label>
                <input asp-for="Round_7_B2" class="form-control" />
                <span asp-validation-for="Round_7_B2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_8_B1" class="control-label"></label>
                <input asp-for="Round_8_B1" class="form-control" />
                <span asp-validation-for="Round_8_B1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_8_B2" class="control-label"></label>
                <input asp-for="Round_8_B2" class="form-control" />
                <span asp-validation-for="Round_8_B2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_9_B1" class="control-label"></label>
                <input asp-for="Round_9_B1" class="form-control" />
                <span asp-validation-for="Round_9_B1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_9_B2" class="control-label"></label>
                <input asp-for="Round_9_B2" class="form-control" />
                <span asp-validation-for="Round_9_B2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_10_B1" class="control-label"></label>
                <input asp-for="Round_10_B1" class="form-control" />
                <span asp-validation-for="Round_10_B1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_10_B2" class="control-label"></label>
                <input asp-for="Round_10_B2" class="form-control" />
                <span asp-validation-for="Round_10_B2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_11_B1" class="control-label"></label>
                <input asp-for="Round_11_B1" class="form-control" />
                <span asp-validation-for="Round_11_B1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_11_B2" class="control-label"></label>
                <input asp-for="Round_11_B2" class="form-control" />
                <span asp-validation-for="Round_11_B2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_12_B1" class="control-label"></label>
                <input asp-for="Round_12_B1" class="form-control" />
                <span asp-validation-for="Round_12_B1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_12_B2" class="control-label"></label>
                <input asp-for="Round_12_B2" class="form-control" />
                <span asp-validation-for="Round_12_B2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
